@font-face {
font-family: Times New Roman;
src: url('Times.TTF');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family:Swear Display;
src: url('Swear.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: Times New Roman;
src: url('Timesi.TTF');
font-weight: normal;
font-style: italic;
}
body{background-color:black;overflow:hidden;}
.bg{display:block;position:absolute;min-width:100%;min-height:100%;background-image:url("BGWEB.webp");background-position: center;background-size:cover;background-attachment:fixed;}
.para{display:flex;align-items:center;justify-content:center; height:100%;}
.text{font-family: "Swear Display" ; color: #F6CB1D;font-size:2.1vw;text-decoration:none;padding:0.5vw;padding-top:0.1vw;border:0.1vw solid #F6CB1D;}

