@font-face {
font-family: Times New Roman;
src: url('Times.TTF');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family:Swear Display;
src: url('Swear.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: Times New Roman;
src: url('Timesi.TTF');
font-weight: normal;
font-style: italic;
}
body{background-color:black;overflow:hidden;}
.bg{display:block;position:absolute;min-width:100%;min-height:100%;background-image:url("BGWEB.webp");background-position: center;background-size:cover;background-attachment:fixed;}
.box{display:flex;flex-direction: column;
    justify-content: center;
    align-items: center;background-color:rgba(0,0,0); padding: 5vw;}
.para{display:flex;align-items:center;justify-content:center; height:100%;}
.text{font-family: "Swear Display" ; color: #F6CB1D;font-size:2.1vw;text-decoration:none;padding:0.5vw;padding-top:0.1vw;border:0.1vw solid #F6CB1D;}
.optintext{font-family: "Swear Display" ; color: #F6CB1D;font-size:1.6vw;text-decoration:none;padding:0.5vw;padding-top:0.1vw;}
input.optinbutton{box-sizing:content-box;width:1.5vw;height:1.5vw;background-color:white;accent-color:#F6CB1D;}
.inp{
    font-family: "Swear Display";
    font-size:1.1vw;
  width: 20vw; 
  height: 4vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border:0.1vw solid #F6CB1D;
  background-color: rgba(0,0,0,0);
  color: #F6CB1D;
}
.sub{
    font-family: "Swear Display" ;
    padding:0.5vw;
    font-size:2.1vw;
    border:0.1vw solid #F6CB1D;
  background-color: rgba(0,0,0,0);
  color: #F6CB1D;}

